<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="/css/syntax.css" media="screen">
  <link rel="stylesheet" href="/css/anchors.css" media="screen">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" media="screen">
  <link rel="stylesheet" href="/css/style.css" media="screen">
</head>
<body>

<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">NuProj</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class="{% if page.url == '/' %}active{% endif %}"><a href="/">Home</a></li>
      <li class="{% if page.url == '/documentation/' %}active{% endif %}"><a href="/documentation">Documentation</a></li>
      <li><a href="http://github.com/terrajobst/nuproj/issues">Feedback</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Developers <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="http://github.com/terrajobst/nuproj">View on GitHub</a></li>
          <li role="presentation" class="divider"></li>
          <li><a href="http://github.com/terrajobst/nuproj/issues">Issues</a></li>
          <li><a href="http://github.com/terrajobst/nuproj/releases">Releases</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

{{content}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{% if page.url != '/' %}

<script>

$(function () {
    $("h1, h2, h3, h4, h5, h6").each(function () {
        // Make sure the element has an id.
        if (!this.id) {
          var text = $(this).text();
          var id = computeId(text);
          this.id = id;
        }

        var icon = '<i class="fa fa-link"></i>';
        return $(this).prepend($("<a />")
                      .addClass("header-link")
                      .attr("href", "#" + this.id)
                      .html(icon));
    });

    function computeId(string) {
        return string.toLowerCase()
                     .replace(/[^a-z0-9]+/g, "-")
                     .replace(/-+$/g, "")
                     .replace(/^-+/g, "")
    }
});

</script>

{% endif %}

</body>

</html>